.side-menu h2 {
    font-size: 20px;
    font-weight: 1000;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.side-menu {
    background: rgb(138, 136, 136);
    width: 400px;
    height: 100vh;
    position: fixed;
    display: flex;
    top: 70px;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.side-menu form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(145, 143, 143);
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 50px 5px rgb(100, 100, 100) inset;
    z-index: 5;
}

.side-menu input {
    background: rgb(170, 169, 169);
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.side-menu input:hover {
    background: rgb(255, 255, 255);
}

.side-menu button {
    background: green;
    position: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor:  pointer;
    font-size: 15px;
    width: 110px;
    height: 30px;
    margin: 20px;
    text-align: center;
}

.side-menu button:hover {
    background: rgb(1, 204, 1);
}



